.helper
    &__destaque
        color third
        font-weight: 900

    &__weight
        font-weight 900
        &--level2
            font-weight 700
        &--level3
            font-weight 600
        &--level4
            font-weight 500
        &--levellight
            font-weight 300