<footer class="footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer__limit">

    <h2 class="footer__relevant footer__relevant--level2">{{ site.title2 | escape }}</h2>

    <ul class="footer__list">
      <li class="footer__each">
        {%- if site.author -%}
          {{ site.author | escape }}
        {%- else -%}
          {{ site.title | escape }}
        {%- endif -%}
      </li>
        {%- if site.email -%}
      <li class="footer__each">
        <div class="footer__eachContencao">
          <svg class="footer__vector footer__vector--email">
            <use xlink:href="{{ '/assets/symbols.svg#email' | prepend:site.baseurl }}"></use>
          </svg>
          <em class="footer__eachValue">{{ site.email }}</em>
        </div>
      </li>
      <li class="footer__each">
        <a class="footer__link" href="{{ site.twitter_link }}">
          <svg class="footer__vector footer__vector--email"><use xlink:href="{{ '/assets/symbols.svg#twitter_circle' | prepend:site.baseurl }}"></use></svg>
          <em class="footer__eachValue footer__eachValue--twitter">{{ site.twitter_username }}</em>
        </a>
      </li>
        {%- endif -%}
    </ul>

  </div>

  <div class="footer__descFinal">
    <p>{{- site.description | escape -}}</p>
  </div>

</footer>
