body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
small,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}
strong,
small,
b,
i,
em {
  font-style: normal;
  font-weight: 400;
}
a,
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
:focus {
  outline: none;
}
body {
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.helper__destaque {
  color: #e3453e;
  font-weight: 900;
}
.helper__weight {
  font-weight: 900;
}
.helper__weight--level2 {
  font-weight: 700;
}
.helper__weight--level3 {
  font-weight: 600;
}
.helper__weight--level4 {
  font-weight: 500;
}
.helper__weight--levellight {
  font-weight: 300;
}
.helper__relevant--level2 {
  position: relative;
  z-index: 99;
}
.helper__relevant--level2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 86%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}
.helper__marcado {
  position: relative;
  z-index: 10;
  display: block;
  padding: 8px 16px;
  color: #e3453e;
  font-weight: 900;
}
.helper__novocontexto {
  position: relative;
  color: #fff;
  font-size: 18px;
  padding: 40px 0;
}
.helper__novocontexto:before {
  content: '';
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #00145c;
  opacity: 0.8;
}
.helper__desc {
  position: relative;
  z-index: 10;
  padding: 10px 16px;
}
.helper__button {
  background-color: transparent;
  border: 0;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.helper__button--contato {
  width: 30%;
  height: 50px;
}
#page {
  background-image: url("images/waveFriend05Mobile.jpg");
  background-repeat: no-repeat;
  background-position: -39px -90px;
}
@media screen and (min-width: 359px) {
  #page {
    background-position-y: -60px;
  }
}
@media screen and (min-width: 399px) {
  #page {
    background-position-y: -40px;
  }
}
@media screen and (orientation: landscape) {
  #page {
    background-position-y: -133px;
  }
}
.header {
  position: relative;
  z-index: 10;
}
.header__relevant {
  display: block;
}
.header__relevant--level2 {
  background-color: rgba(255,255,255,0.9);
}
.header__linkBrand {
  display: block;
  padding: 8px;
}
.header__vectorBrand {
  max-width: 320px;
}
.header__nav {
  position: absolute;
}
.inpage {
  display: none;
  flex-direction: column;
  background-color: #fff;
  width: 290px;
}
.inpage__link {
  color: #00145c;
  padding: 10px 14px;
  width: 100%;
  max-width: 260px;
}
.inpage__link:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.content__relevant,
[data-page="about"] .me__relevant--level1,
[data-page="curso"] .curso__relevant--level1,
[data-page="podcast"] .podcast__relevant--level1 {
  padding: 26px;
  color: #00145c;
  font-size: 11vw;
  font-weight: 900;
  background-color: rgba(255,255,255,0.59);
}
.content__relevant--level1,
[data-page="about"] .me__relevant--level1--level1,
[data-page="curso"] .curso__relevant--level1--level1,
[data-page="podcast"] .podcast__relevant--level1--level1 {
  display: block;
}
@media screen and (orientation: landscape) {
  .content__relevant,
  [data-page="about"] .me__relevant--level1,
  [data-page="curso"] .curso__relevant--level1,
  [data-page="podcast"] .podcast__relevant--level1 {
    font-size: 7vw;
  }
}
.goldSection {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  opacity: 0.89;
}
.goldSection__each {
  padding: 9px;
  max-width: 90%;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  color: #fff;
  font-weight: 700;
  background-color: #008ed2;
}
.footer {
  margin-top: 33px;
}
.footer__relevant {
  padding: 20px;
}
.footer__list {
  font-size: 20px;
  margin: 0 auto 20px;
  width: 94%;
  max-width: 2000px;
}
@media screen and (min-width: 768px) {
  .footer__list {
    width: 94%;
  }
}
@media screen and (min-width: 1000px) {
  .footer__list {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    width: 88%;
  }
}
@media screen and (min-width: 1300px) {
  .footer__list {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  .footer__list {
    width: 78%;
  }
}
@media screen and (min-width: 1600px) {
  .footer__list {
    width: 74%;
  }
}
@media screen and (min-width: 1700px) {
  .footer__list {
    width: 69%;
  }
}
@media screen and (min-width: 1900px) {
  .footer__list {
    width: 66%;
  }
}
@media screen and (min-width: 2000px) {
  .footer__list {
    width: 76%;
  }
}
.footer__each {
  height: 60px;
  margin-bottom: 20px;
}
.footer__eachContencao,
.footer__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__eachValue {
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer__vector {
  display: block;
  margin-right: 5%;
  width: 40%;
  max-width: 60px;
  max-height: 60px;
}
.footer__vector--email {
  display: block;
}
.footer__descFinal {
  padding: 26px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #e3453e;
}
@media screen and (min-width: 374px) {
  .footer {
    margin-top: 18px;
  }
}
[data-page="about"] .me__relevant {
  position: relative;
}
[data-page="about"] .me__relevant--level2 {
  position: relative;
  z-index: 99;
}
[data-page="about"] .me__relevant--level2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 86%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}
[data-page="contact"] #page {
  background: none;
}
[data-page="contact"] .wrapper {
  background-color: #e3453e;
  opacity: 0.99;
}
[data-page="contact"] .contato {
  width: 100%;
  padding: 30px 0;
}
[data-page="contact"] .contato input[type="text"],
[data-page="contact"] .contato input[type="email"],
[data-page="contact"] .contato textarea {
  display: block;
  margin: 10px auto;
  padding: 15px;
  width: 100%;
  max-width: 290px;
  font-size: 1.1rem;
}
[data-page="contact"] .contato__cont {
  width: 100%;
}
[data-page="contact"] .contato__textarea {
  max-width: 290px;
  height: 160px;
  margin: 0 auto 0;
}
[data-page="contact"] .contato__label {
  display: block;
  padding: 6px;
  width: 30%;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  background: #00145c;
}
[data-page="contact"] .contato__button {
  margin-top: 26px;
  margin-left: 19px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 900;
  background-color: #008ed2;
}
[data-page="curso"] .curso__relevant {
  position: relative;
}
[data-page="podcast"] .podcast__relevant {
  position: relative;
}
